<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="icon" type="image/png" href="/static/favicon.png" sizes="32x32">
    <title>Для деда!</title>
    <!-- Background -->
    <style>
      body {
          background: #000 url(/static/fon-tekstura.jpg); /* Фоновый цвет и фоновый рисунок*/
      }
	</style>
  </head>
  <body>
    <div class="container">

<!--      Пагинатор-->
      <nav aria-label="Page navigation example">
        <ul class="pagination mt-5 mb-3 mx-auto" style="width: 500px;">
          <li class="page-item {% if page_num == 1 %}disabled{% endif %}">
            <a class="page-link" href="/pages/index_{{ page_num - 1 }}.html">Назад</a>
          </li>
          {% for page in range(1, count+1) %}
          <li class="page-item {% if page_num == page %}active" aria-current="page{% endif %}">
            <a class="page-link" href="/pages/index_{{ page }}.html">
              {{ page }}{% if page_num == page %}<span class="sr-only">(current)</span>{% endif %}
            </a>
          </li>
          {% endfor %}
          <li class="page-item {% if page_num == count %}disabled{% endif %}">
            <a class="page-link" href="/pages/index_{{ page_num + 1 }}.html">Вперёд</a>
          </li>
        </ul>
      </nav>
<!--   end   Пагинатор-->

      {% for books in chunked_books %}
        <div class="row">
          {% for book in books %}
            <div class="col-6">
            <div class="card text-white bg-dark mb-3" style="max-width: 540px; min-width: 540px; max-height: 340px; min-height: 270px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../{{ book['img_path']|urlencode }}" class="card-img" alt="{{ book['title'] }}"
                       title="{{ book['title'] }}. Автор: {{ book['author'] }}" style="max-height: 260px;">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ book['title'] }}</h5>
                    <p class="card-text">{% for genres in book['genres'] %}<span class="badge badge-pill badge-secondary">{{genres}}</span>{% endfor %}</p>
                    <a href="../{{ book['book_path']|urlencode }}" class="btn btn-dark btn-lg" title="Читать: {{ book['title'] }}"
                      target="_blank" rel="noopener noreferrer">Читать</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>


    <script src="/static/jquery-3.5.1.slim.min.js"></script>
    <script src="/static/bootstrap.bundle.min.js"></script>
    <script src="/static/popper.min.js"></script>
  </body>
</html>